# Adam Forestier

## Last Updated: August 9, 2023

In [16]:
import numpy as np
import pandas as pd

### Dot product example - Nut Butter Sales

In [17]:
np.random.seed(0)
sales_amounts = np.random.randint(20, size=(5,3))
sales_amounts

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]])

In [18]:
# Create weekly sales dataframe
df = pd.DataFrame(sales_amounts, index=['Mon','Tues','Wed','Thurs','Fri'], columns=['Almond Butter', 'Peanut Butter', 'Cashew Butter'])
df

       Almond Butter  Peanut Butter  Cashew Butter
Mon               12             15              0
Tues               3              3              7
Wed                9             19             18
Thurs              4              6             12
Fri                1              6              7

In [19]:
# Create prices array
prices = np.array([10, 8, 12])
prices

array([10,  8, 12])

In [20]:
# Create prices dataframe
price_df = pd.DataFrame(prices.reshape(1,3), index=['Price'], columns=['Almond Butter', 'Peanut Butter', 'Cashew Butter'])
price_df

       Almond Butter  Peanut Butter  Cashew Butter
Price             10              8             12

In [23]:
# Use dot product to calculate total sales
daily_sales = np.dot(sales_amounts, prices)
daily_sales

array([240, 138, 458, 232, 142])

In [28]:
df['Daily Sales($)'] = daily_sales
df

,Almond Butter,Peanut Butter,Cashew Butter,Daily Sales,Daily Sales($)
Mon,12,15,0,240,240
Tues,3,3,7,138,138
Wed,9,19,18,458,458
Thurs,4,6,12,232,232
Fri,1,6,7,142,142